/* Set the size and font of the tab widget */
.tabGroup {
    background: none repeat scroll 0 0 #F3F1EB;
    border: 1px solid #DEDBD1;
    padding: 10px;
    width: 750px;
    height: auto;
    float: left;
}

.tabGroup div.questionCon{
    width: 100%;
    float: left;
    padding-top: 5px;
}

.tabGroup select, .tabGroup label, .tabGroup div {
    font-size: 12px;
}

div.questionCon.qsubmit{
    text-align: center;
}

.tabGroup div.question{
	padding-right: 10px;
    float: left;
    text-align: right;
    width: 114px;
}

.tabGroup div.inputCon{
    float:left;
}
  
/* Configure the radio buttons to hide off screen */
.tabGroup > input[type="radio"] {
    position: absolute;
    left:-100px;
    top:-100px;
}
  
/* Configure labels to look like tabs */
.tabGroup > input[type="radio"] + label {
    /* inline-block such that the label can be given dimensions */
    display: inline-block;
  
    /* A nice curved border around the tab */
    border: 1px solid #DEDBD1;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
      
    /* the bottom border is handled by the tab content div */
    border-bottom: 0;
  
    /* Padding around tab text */
    padding: 5px 10px;
  
    /* Set the background color to default gray (non-selected tab) */
    background-color:#ddd;
}
  
/* Focused tabs need to be highlighted as such */
.tabGroup > input[type="radio"]:focus + label {
    border:1px dashed #DEDBD1;
}
  
/* Checked tabs must be white with the bottom border removed */
.tabGroup > input[type="radio"]:checked + label {
    background-color:white;
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}
  
/* The tab content must fill the widgets size and have a nice border */
.tabGroup > div {
    display: none;
    border: 1px solid #DEDBD1;
    background-color: white;
    padding: 10px 0px;
    height: auto;
    overflow: auto;
    margin-top: -1px;
      
    border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
}
  
/* This matchs tabs displaying to thier associated radio inputs */
#wpfc-options:checked ~ .tab1, #wpfc-deleteCache:checked ~ .tab2, #wpfc-cacheTimeout:checked ~ .tab3 {
    display: block;
}
/* for lef panel */
#toplevel_page_WpFastestCacheOptions img{
    padding: 0 !important;
    margin-left: 5px !important;
}
#toplevel_page_WpFastestCacheOptions div.wp-menu-name{
    margin-left: 46px !important;
}
.question:after {
    content: ":";
}
.inputCon input[type="checkbox"]{
    margin-right: 5px;
}
.get-info {
    float: left;
    padding-left: 10px;
}
#rule-help-tip {
    width: 500px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 4px 4px 10px #CCCCCC;
    display: block;
    padding: 10px 10px 0;
    position: absolute;
}

#rule-help-tip h4 {
    color: #6397CB;
    margin-top: 0;
    font-size: 14px;
    letter-spacing: -1px;
}
h1.summary-rec {
    border-bottom: 0 none;
    color: #777777;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    margin: 0 0 0.5em;
}

.close-window {
    background: url("../images/close-wiz-sprite.png") no-repeat scroll 0 -19px rgba(0, 0, 0, 0);
    height: 19px;
    width: 22px;
    float: right;
}
.omni_admin_sidebar {
    float: right;
    font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    font-size: 12px;
    margin-right: 50px;
    width: 222px;
}

.omni_admin_sidebar_section {
    background-color: #F6F6F6;
    border: 1px solid #CCCCCC;
    float: left;
    margin: 0 0 10px;
    padding: 10px;
    width: 200px;
}

.omni_admin_sidebar ul {
    margin: 0;
    padding: 0;
}

.omni_admin_sidebar li {
    font-size: 11px;
    line-height: 16px;
    list-style: disc outside none;
    margin: 5px 0 5px 20px;
}

.omni_admin_sidebar h3 {
    margin: 0 0 10px;
}
.success-wpfc, .error-wpfc{
    background-position: 10px center !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}
.success-wpfc{
    background-color: #DFF2BF !important;
    border-color: #4F8A10 !important;
    color: #4F8A10 !important;
    background: url("../images/success.png") no-repeat;
}
.success-wpfc p, .error-wpfc p{
    padding: 2px 2px 2px 40px !important;
}
.error-wpfc{
    background-color: #FFBABA !important;
    border-color: #D8000C !important;
    color: #D8000C !important;
    background: url("../images/error.png") no-repeat;
}
.omni_admin_sidebar_section label {
    font-size: 11px;
}

#vote-us{
    border-color: #D09847; 
    background: url("../images/facebook-like-xxl.png") #E39124 no-repeat 103% 130%; 
    background-size: 30%;
    cursor: pointer;
}

#wpfc-beta{
    padding-right: 5px;
    font-weight: bold;
    color: red;
}

#deleteCron{
    float:right;
    margin-right:5px;
    padding: 3px;
}

#deleteCron:hover{
    background-color:#FAEBD7;
}
