<tr class="alternate author-self status-inherit" post-id="{{post_id}}">
	<td class="column-icon media-icon image-icon">
		<img width="39" height="60" src="{{attachment}}" class="attachment-80x60">
	</td>
	<td class="title column-title">
		<p style="margin-bottom: 0;"><a href="{{url}}" target="_blank">{{post_title}}</a></p>
		<p style="margin-bottom: 0;">

			<a style="{{backup_error_style}}" href="{{backup_url}}" target="_blank"><strong>{{backup_title}}</strong></a>


		</p>
		<p style="margin-bottom: 0;">{{width}}x{{height}}</p>
	</td>
	<td class="author column-author" style="text-align: center;">{{reduction}}KB</td>
	<td class="date column-date" style="text-align: center;">{{date}}</td>
	<td class="date column-date" style="text-align: center;">
	<div class="revert" style="{{revert_button}}">
		<input type="hidden" value="{{post_id}}">
	</div>
	</td>
</tr>