<div id="wpfc-modal-maxcdn" style="top: 10.5px; left: 226px; position: absolute; padding: 6px; height: auto; width: 560px; z-index: 10001;">
	<div style="height: 100%; width: 100%; background: none repeat scroll 0% 0% rgb(0, 0, 0); position: absolute; top: 0px; left: 0px; z-index: -1; opacity: 0.5; border-radius: 8px;">
	</div>
	<div style="z-index: 600; border-radius: 3px;">
		<div style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:12px;background: none repeat scroll 0px 0px rgb(255, 161, 0); z-index: 1000; position: relative; padding: 2px; border-bottom: 1px solid rgb(194, 122, 0); height: 35px; border-radius: 3px 3px 0px 0px;">
			<table width="100%" height="100%">
				<tbody>
					<tr>
						<td valign="middle" style="vertical-align: middle; font-weight: bold; color: rgb(255, 255, 255); text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); padding-left: 10px; font-size: 13px; cursor: move;">MailChimp Integration Wizard</td>
						<td width="20" align="center" style="vertical-align: middle;"></td>
						<td width="20" align="center" style="vertical-align: middle; font-family: Arial,Helvetica,sans-serif; color: rgb(170, 170, 170); cursor: default;">
							<div title="Close Window" class="close-wiz"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="window-content-wrapper" style="padding: 8px;">
			<div style="z-index: 1000; height: auto; position: relative; display: inline-block; width: 100%;" class="window-content">
				<div id="wpfc-wizard-maxcdn">


					<div style="" wpfc-cdn-page="1" class="wiz-cont">
						<h1>Let's Get Started</h1>		
						<p>Hi!  Enter your <strong>MailChimp API Key</strong> below to send submissions as contacts.</p>
						<div class="wiz-input-cont">
							<label for="wpfc-apikey-maxcdn" class="mc-input-label">API Key:</label><input type="text" id="wpfc-apikey-maxcdn" class="api-key" value="">
							<img style="display:none" src="http://www.jotform.com/images/loading-circle.gif" id="mailChimpLoading">
							<label id="errorMessageOfApi" class="wiz-error-mes"></label>
						</div>
					</div>
					<div style="display:none;" wpfc-cdn-page="2" class="wiz-cont">
						<h1>22222</h1>		
						<p>Hi!  Enter your <strong>MailChimp API Key</strong> below to send submissions as contacts.</p>
						<div class="wiz-input-cont">
							<label for="wpfc-maxcdn-apikey" class="mc-input-label">API Key:</label><input type="text" id="wpfc-maxcdn-apikey" class="api-key" value="">
							<img style="display:none" src="http://www.jotform.com/images/loading-circle.gif" id="mailChimpLoading">
							<label id="errorMessageOfApi" class="wiz-error-mes"></label>
						</div>
					</div>
					<div style="display:none;" wpfc-cdn-page="3" class="wiz-cont">
						<h1>333</h1>		
						<p>Hi!  Enter your <strong>MailChimp API Key</strong> below to send submissions as contacts.</p>
						<div class="wiz-input-cont">
							<label for="wpfc-maxcdn-apikey" class="mc-input-label">API Key:</label><input type="text" id="wpfc-maxcdn-apikey" class="api-key" value="">
							<img style="display:none" src="http://www.jotform.com/images/loading-circle.gif" id="mailChimpLoading">
							<label id="errorMessageOfApi" class="wiz-error-mes"></label>
						</div>
					</div>




				</div>
			</div>
		</div>
		<div class="window-buttons-wrapper" style="padding: 0px; display: inline-block; width: 100%; border-top: 1px solid rgb(255, 255, 255); background: none repeat scroll 0px 0px rgb(222, 222, 222); z-index: 999; position: relative; text-align: right; border-radius: 0px 0px 3px 3px;">
			<div style="padding: 12px; height: 23px;">
				<button class="big-button buttons buttons-blood" type="button" wpfc-cdn-modal-button="remove" style="float: left; display: none;">
					<span>Remove integration</span>
				</button>
				<button class="big-button buttons buttons-grey" type="button" wpfc-cdn-modal-button="back" style="display: none;">
					<img align="left" src="http://max.jotfor.ms//images/back.png" class="icon-left">
					<span>Back</span>
				</button>
				<button class="big-button buttons buttons-grey" type="button" wpfc-cdn-modal-button="next">
					<span>Next</span>
					<img align="absmiddle" src="http://max.jotfor.ms//images/next.png" class="icon-right">
				</button>
				<button class="big-button buttons buttons-grey" type="button" wpfc-cdn-modal-button="close" style="display: none;">
					<span>Close</span>
				</button>
				<button class="big-button buttons buttons-green" type="button" wpfc-cdn-modal-button="finish" style="display: none;">
					<span>Finish</span>
				</button>
			</div>
		</div>
	</div>
</div>