<div class="tablenav bottom" style="padding-right:16px;padding-top:5px;padding-bottom:5px;">
	<div class="alignleft actions bulkactions" style="padding-left:19px;">
		<span class="deleteicon">
			<input type="text" style="height:28px;" placeholder="Search" id="wpfc-image-search-input" class="deletable" value="">
			<span class="cleared"></span>
		</span>
		<input type="submit" value="Filtre" class="button" id="wpfc-image-search-button" name="filter_action">
	</div>
	<div class="tablenav-pages">
		<span class="pagination-links">
			<a class="first-page disabled wpfc-image-list-first-page">«</a>
			<a class="prev-page disabled wpfc-image-list-prev-page">‹</a>
			<span class="paging-input"><label class="wpfc-current-page">1</label> / <span class="total-pages wpfc-total-pages">1</span></span>
			<a class="next-page wpfc-image-list-next-page">›</a>
			<a class="last-page wpfc-image-list-last-page">»</a>
		</span>
	</div>
	<br class="clear">
</div>