<div class="tablenav bottom" style="padding:5px 16px 5px 19px">
	<div style="float:left;">
		<span class="deleteicon">
			<input type="text" style="height:28px;" placeholder="Search" id="wpfc-image-search-input" class="deletable" value="">
			<span class="cleared"></span>
		</span>
		<input type="submit" class="button action" value="Search" id="wpfc-image-search-button" name="filter_action">
	</div>
	<div style="float:left;padding-left:5px;">
		<select id="wpfc-image-list-filter" class="bulk-action-selector-top">
			<option value="" selected="selected">All</option>
			<option value='error_code'>Errors</option>
		</select>
	</div>
	<div style="float:left;padding-left:5px;">
		<select id="wpfc-image-per-page" class="bulk-action-selector-top">
			<option value="1">1</option>
			<option value='5' selected="selected">5</option>
			<option value='10'>10</option>
		</select>
	</div>
	<div class="tablenav-pages">
		<span class="pagination-links">
			<a class="first-page disabled wpfc-image-list-first-page">«</a>
			<a class="prev-page disabled wpfc-image-list-prev-page">‹</a>
			<span class="paging-input"><label class="wpfc-current-page">1</label> / <span class="total-pages wpfc-total-pages">1</span></span>
			<a class="next-page wpfc-image-list-next-page">›</a>
			<a class="last-page wpfc-image-list-last-page">»</a>
		</span>
	</div>
	<br class="clear">
</div>