<div style="float: right; padding-right: 20px; cursor: pointer;" id="container-show-hide-image-list">
	<span id="show-image-list">Show Images</span>
	<span style="display:none;" id="hide-image-list">Hide Images</span>
</div>
<div id="wpfc-image-static-panel" style="width:100%;float:left;">
	<div style="float: left; width: 100%;">
		<div style="float:left;padding-left: 22px;padding-right:15px;">
			<div style="display: inline-block;">
				<div style="width: 150px; height: 150px; position: relative; border-top-left-radius: 150px; border-top-right-radius: 150px; border-bottom-right-radius: 150px; border-bottom-left-radius: 150px; background-color: #ffcc00;">
					

					<div style="position: absolute; top: 0px; left: 0px; width: 150px; height: 150px; border-top-left-radius: 150px; border-top-right-radius: 150px; border-bottom-right-radius: 150px; border-bottom-left-radius: 150px; clip: rect(0px 150px 150px 75px);">
						<div id="wpfc-pie-chart-little" style="position: absolute; top: 0px; left: 0px; width: 150px; height: 150px; border-top-left-radius: 150px; border-top-right-radius: 150px; border-bottom-right-radius: 150px; border-bottom-left-radius: 150px; clip: rect(0px 75px 150px 0px); -webkit-transform: rotate(36deg); transform: rotate(0deg); background-color: #FFA500;"></div>
					</div>


					<div id="wpfc-pie-chart-big-container-first" style="display:none;position: absolute; top: 0px; left: 0px; width: 150px; height: 150px; border-top-left-radius: 150px; border-top-right-radius: 150px; border-bottom-right-radius: 150px; border-bottom-left-radius: 150px; clip: rect(0px 150px 150px 25px); -webkit-transform: rotate(0deg); transform: rotate(0deg);">
						<div style="position: absolute; top: 0px; left: 0px; width: 150px; height: 150px; border-top-left-radius: 150px; border-top-right-radius: 150px; border-bottom-right-radius: 150px; border-bottom-left-radius: 150px; clip: rect(0px 75px 150px 0px); -webkit-transform: rotate(180deg); transform: rotate(180deg); background-color: #FFA500;"></div>
					</div>
					<div id="wpfc-pie-chart-big-container-second-right" style="display:none;position: absolute; top: 0px; left: 0px; width: 150px; height: 150px; border-top-left-radius: 150px; border-top-right-radius: 150px; border-bottom-right-radius: 150px; border-bottom-left-radius: 150px; clip: rect(0px 150px 150px 75px); -webkit-transform: rotate(180deg); transform: rotate(180deg);">
						<div id="wpfc-pie-chart-big-container-second-left" style="position: absolute; top: 0px; left: 0px; width: 150px; height: 150px; border-top-left-radius: 150px; border-top-right-radius: 150px; border-bottom-right-radius: 150px; border-bottom-left-radius: 150px; clip: rect(0px 75px 150px 0px); -webkit-transform: rotate(90deg); transform: rotate(90deg); background-color: #FFA500;"></div>
					</div>

				</div>
				<div style="width: 114px;height: 114px;margin-top: -133px;background-color: white;margin-left: 18px;position: absolute;border-radius: 150px;">
					<p style="text-align:center;margin:27px 0 0 0;color: black;">Succeed</p>
					<p class="wpfc-loading-statics" id="wpfc-optimized-statics-percent" style="text-align: center; font-size: 18px; font-weight: bold; font-family: verdana; margin: -2px 0px 0px; color: black;"></p>
					<p style="text-align:center;margin:0;color: black;">%</p>
				</div>
			</div>
		</div>
		<div id="wpfc-statics-right" style="float: left;padding-left:12px;">
			<ul style="list-style: none outside none;float: left;">
				<li>
					<div style="background-color: rgb(29, 107, 157);width:15px;height:15px;float:left;margin-top:4px;border-radius:5px;"></div>
					<div style="float:left;padding-left:6px;">All Images</div>
					<div class="wpfc-loading-statics" id="wpfc-optimized-statics-total_image_number" style="font-size: 14px; font-weight: bold; color: black; float: left; width: 65%; margin-left: 5px;"></div>
				</li>
				<li>
					<div style="background-color: rgb(29, 107, 157);width:15px;height:15px;float:left;margin-top:4px;border-radius:5px;"></div>
					<div style="float:left;padding-left:6px;">Pending</div>
					<div class="wpfc-loading-statics" id="wpfc-optimized-statics-pending" style="font-size: 14px; font-weight: bold; color: black; float: left; width: 65%; margin-left: 5px;"></div>
				</li>
				<li>
					<div style="background-color: #FF0000;width:15px;height:15px;float:left;margin-top:4px;border-radius:5px;"></div>
					<div style="float:left;padding-left:6px;">Errors</div>
					<div class="wpfc-loading-statics" id="wpfc-optimized-statics-error" style="font-size: 14px; font-weight: bold; color: black; float: left; width: 65%; margin-left: 5px;"></div>
				</li>
			</ul>
			<ul style="list-style: none outside none;float: left;">
				<li>
					<div style="background-color: rgb(61, 207, 60);width:15px;height:15px;float:left;margin-top:4px;border-radius:5px;"></div>
					<div style="float:left;padding-left:6px;"><span>Optimized Images</span></div>
					<div class="wpfc-loading-statics" id="wpfc-optimized-statics-optimized" style="font-size: 14px; font-weight: bold; color: black; float: left; width: 65%; margin-left: 5px;"></div>
				</li>

				<li>
					<div style="background-color: rgb(61, 207, 60);width:15px;height:15px;float:left;margin-top:4px;border-radius:5px;"></div>
					<div style="float:left;padding-left:6px;"><span>Total Reduction</span></div>
					<div class="wpfc-loading-statics" id="wpfc-optimized-statics-reduction" style="font-size: 14px; font-weight: bold; color: black; float: left; width: 80%; margin-left: 5px;"></div>
				</li>
				<li></li>
			</ul>

			<ul style="list-style: none outside none;float: left;">
				<li>
					<h1 style="margin-top:0;">Credit: <span class="wpfc-loading-statics" id="wpfc-optimized-statics-credit" style="display: inline-block; height: 16px; width: 50%;"></span></h2>
				</li>
				<li>
					<input style="width:100%;height:110px;" id="wpfc-optimize-images-button" type="submit" value="Optimize All Images" class="button-primary" />
				</li>
			</ul>
		</div>
	</div>
</div>